body {
    overflow:auto;
    background-color: #EDEDED;
    background-image: url(img/default.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    font-family: 微软雅黑;
    font-size: 62.5%;
}
img {
    max-width: 100%;
}
/*设置搜索框*/
 #Searchbox {
    margin-left:14%;
    /*搜索框到窗口左边的距离*/
    margin-top:12%;
    /*搜索框到窗口顶部的距离*/
    width:80%;
}
#search_logo {
    margin-bottom:-14px;
}
.search_wd {
    width:45%;/*搜索框宽度*/
    font-family: 微软雅黑;
    height:28px;
}
.search_go {
    position: relative;
    border: none;
    margin-left:-35px;/*到搜索框的距离*/
    width: 28px;
    height: 28px;
    background: transparent;
    background-image: url("img/baidu.png");
    background-size: 100% 100%;
}

.bdsug_copy {
    display:none
}

/*设置导航整体面板*/
 #navs {
    position:relative;
    float:left;
    top: 11em;
    /*导航整体面板到搜索框的距离*/
    left: 14%;
    /*导航整体面板到窗口左边的距离*/
    width:70%;
    /*导航整体面板宽度*/
    margin:auto;
    padding: 0.6em;
    background-color: #000;
    opacity:0.65;
    border:0.1em solid #000;
}
/*设置导航标题字体*/
 #navtitle {
    font-size:1.8em;
    font-weight: bold;
    color:white;
    border-bottom: 0.1em solid #555;
}
/*设置编辑、定位、随机按钮*/
 #nav_openfolder, #nav_edit, #nav_random {
    float:right;
    position:relative;
    padding:0 0.2em;
    font-size:0.85em;
    opacity:0.3;
}
#nav_openfolder:hover, #nav_edit:hover, #nav_random:hover {
    opacity:1;
}
/*设置导航地址间距*/
 #navtable {
    font-size:1.5em;
    padding-top:0.6em;
    margin-left: 1em;
}
/*设置导航单元大小*/
 #navtable td {
    list-style: none;
    float:left;
    height:1.6em;
    width:8em;
    text-align:left;
}
/*设置导航分类*/
 #navtable th {
    width: 5.4em;
    text-align:left;
    vertical-align:top;
    color: #AAA;
}
/*设置导航链接字体*/
 #navs a {
    color: #FFF;
    text-decoration:none;
}
/*设置导航链接图标*/
 #navs img {
    margin-right:0.25em;
    margin-bottom: -0.1em;
}
/*设置导航链接hover时*/
 #navtable a:hover {
    text-decoration: none;
    transition:color 0.423s ease, text-shadow 0.423s ease;
    color:rgba(255, 200, 0, 0.9);
    text-shadow:0 1px rgba(242, 33, 49, 1), 0 1px 1px rgba(242, 33, 49, 1), 0 -1px 1px rgba(242, 33, 49, 1), 1px 0 1px rgba(242, 33, 49, 1), -1px 0 1px rgba(242, 33, 49, 1), 0 0 3px rgba(242, 33, 49, 1);
}